---
import PageHeader from "@components/PageHeader.astro";
import Base from "@layouts/Base.astro";
import Faq from "@layouts/function-components/Faq.jsx";
import { getEntryBySlug } from "astro:content";
import ProductsList from "@components/products/ProductsList.astro";
import config from "@config/config.json";
import Pagination from "@layouts/components/Pagination.astro";

// Importa ambos archivos estáticos
import productsES from '@data/es/products.json';
import productsEN from '@data/en/products.json';

const { currentLocale } = Astro
const fallbackLocale = 'es';

// Selecciona productos según el idioma
const json_products = currentLocale === 'en' ? productsEN : productsES;

// Mapea si necesitas un slug u otra transformación
const posts = json_products
  .filter((product) => product.available !== false)
  .map(product => ({
    data: product,
    slug: `product-${product.id_product}`
}));

//import productsJson from "@data/products.json";


const { product_folder } = config.settings; // "products"

const sortedPosts = posts;
const recentPost = sortedPosts.filter((item) => !item.data.featured);
const totalPages = Math.ceil(recentPost.length / config.settings.pagination);
const currentPosts = recentPost.slice(0, config.settings.pagination);


//console.log('sortedPosts')
//console.log(sortedPosts)
//console.log('currentPosts')
//console.log(currentPosts)
////console.log(product_folder)




// console.log('currentLocale')
// console.log(currentLocale)

let products = await getEntryBySlug("products", `${currentLocale}/-index`);
if (!products) {
  products = await getEntryBySlug("products", `${fallbackLocale}/-index`);
}

let faq = await getEntryBySlug("products", `${currentLocale}/-faq`);
if (!faq) {
  faq = await getEntryBySlug("products", `${fallbackLocale}/-faq`);
}

//const products = await getEntryBySlug("products", "-index");

// console.log('products')
// console.log(products)


const { title, page_title, product_list } = products.data;

// console.log('title')
// console.log(title)
// console.log(page_title)
// console.log(product_list)

const page_data = {
  ...products.data,
  content: products.body,
};
// console.log('products')
// console.log(products)

// console.log('page_data')
// console.log(page_data)

export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }]
}

---

<Base
  title={products.data.title}
  meta_title={products.data.meta_title}
  description={products.data.description}
  image={products.data.image}
>
  <section class="page-hero pb-4 pt-12" data-animate="fade-up">
    <div class="container">
      <PageHeader page_data={page_data} />
    </div>
  </section>
  <section class="section mx-4 md:mx-10 lg:mx-20 mt-12" data-animate="zoom-in">
    <ProductsList
      products={currentPosts}
      product_list={product_list}
    />
    <Pagination
      section={product_folder}
      currentPage={1}
      totalPages={totalPages}
    />
  </section>
  <Faq client:load data={faq.data} />
</Base>
