---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
import { Image } from 'astro:assets';
import config from "@config/config.json";

const { logo } = config.site;

const fallbackLocale = 'es';
const { currentLocale } = Astro

// console.log('currentLocale')
// console.log(currentLocale)

let entry = await getEntryBySlug("pages", `${currentLocale}/404`);
if (!entry) {
  entry = await getEntryBySlug("pages", `${fallbackLocale}/404`);
}

const { Content } = await entry.render();

const homeUrl = `/${currentLocale}/`;

---

<Base title={entry.data.title} is404={true}>
  <section class="relative section py-10">
    <div class="container">
      <div class="flex min-h-[75vh] items-start justify-center">
        <div class=" text-center">
          <Image
            src="/images/shared/logos/hoja_rayo_logo.png"
            class="mb-4 inline dark:hidden"
            alt="logo"
            height={120}
            width={120}
          />

          <Image
            src="/images/shared/logos/hoja_rayo_logo_white.png"
            class="mb-4 hidden dark:inline"
            alt="logo"
            height={120}
            width={120}
          />

          <h1 class="mb-4" set:html={markdownify(entry.data.title)} />
          <Content />

          <!-- 🔵 Botón para volver al home -->
          
          <div class="mt-4 absolute left-1/2 transform -translate-x-1/2 z-50">
            <a 
              href={homeUrl}
              class="inline-block px-6 py-3 rounded-full bg-primary text-white font-semibold shadow-md hover:bg-primary-dark transition"
              set:html={markdownify(entry.data.home_button)}
            />
          </div>
        
        </div>
      </div>
    </div>

    <img
      class="z-0 absolute bottom-0 h-full w-full"
      alt=""
      src="/images/404/layered-waves-haikei.png"
    />
  </section>
</Base>