---
import Galeria from "./Galeria.astro";

const { data_by_id } = Astro.props;
---

<div class="flex flex-col lg:flex-row gap-12 items-start">
  <!-- Galería -->
  <div class="w-full lg:w-[480px] shrink-0 border border-gray-200 rounded-xl p-6 shadow-md">
    <Galeria id_product={data_by_id.id_product} />
  </div>

  <!-- Detalles del producto -->
  <div class="flex flex-col gap-6 w-full">
    <div>
      <h1 class="text-3xl font-bold">{data_by_id.title}</h1>
    </div>

    <p class="leading-relaxed ">
      {data_by_id.description}
    </p>

    <ul class="list-disc list-inside space-y-2">
      {data_by_id.feature_1 && <li>{data_by_id.feature_1}</li>}
      {data_by_id.feature_2 && <li>{data_by_id.feature_2}</li>}
      {data_by_id.feature_3 && <li>{data_by_id.feature_3}</li>}
    </ul>

    <div class="text-2xl font-semibold">
      ${data_by_id.price}
    </div>

    <a 
      href="/" 
      class="inline-block bg-primary py-3 px-8 rounded-xl shadow hover:bg-secondary transition text-center w-fit"
    >
      Contact Us
    </a>
  </div>
</div>