---
import PageHeader from "@components/PageHeader.astro";
import Shape from "@components/Shape.astro";
import CounterComponent from "@components/about/CounterComponent.astro";
import BackgroundVideo from "@components/BackgroundVideo.astro";
import Gallery from "@components/about/Gallery.astro";
import OurMembers from "@components/about/OurMembers.astro";
import Works from "@components/about/Works.astro";
import Base from "@layouts/Base.astro";
import { getEntryBySlug } from "astro:content";
import { getEntry } from "astro:content";
import CultureStorySection from "@components/about/CultureStorySection.astro";
import AboutUsSection from "@components/about/AboutUsSection.astro";
import VisionMissionSection from "@components/about/VisionMissionSection.astro";
import DemocratizingScience from "@components/about/DemocratizingScience.astro";
import LabImpactSection from "@components/about/LabImpactSection.astro";
import PocketLabSection from "@components/about/PocketLabSection.astro";


const { currentLocale } = Astro
const fallbackLocale = 'es';
let about = await getEntry("about", currentLocale);
if (!about) {
  about = await getEntry("about", fallbackLocale);
}

// console.log('about')
// console.log(about)

const { counter, gallery, features, members } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};

export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }]
}

const video_path = "/images/background-video.mp4"
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  {/*
  <div class="-z-50 absolute w-full h-screen bg-no-repeat bg-center lg:bg-cover bg-[url('/images/home-background.jpg')] top-0 opacity-50 ">
  </div>
  */}
  
  <div class="-z-50 absolute w-full h-screen bg-no-repeat bg-center bg-[length:130%_100%] sm:bg-[length:115%_100%] lg:bg-cover bg-[url('/images/home-background.jpg')] top-0 opacity-50">
</div>
  
  {/* 
  <BackgroundVideo src={video_path}/>
  */}

  <section class="page-hero py-16">
    <div class="container">
      <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-secondary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>

      <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-secondary to-green-400 absolute top-5 lg:top-[200px] left lg:right-[100px] rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>

      <div class="page-hero-content mx-auto max-w-[768px] text-center">
        <PageHeader page_data={page_data} />
      </div>
    </div>
  </section>
      {/* 
      <CounterComponent counter={counter} />
      */}
      <!-- benifit -->
      {/*
      <!-- gellary -->
      
      <!-- our works -->
      <Works features={features} />
      */}

      <Gallery gallery={gallery} />

      <AboutUsSection section={about.data.whoWeAre} />
      <VisionMissionSection
        vision={about.data.vision}
        mission={about.data.mission}
      />
      <CultureStorySection section={about.data.culture} />
      <DemocratizingScience section={about.data.openFrontiers} />
      <LabImpactSection section={about.data.labImpact} />
      <PocketLabSection section={about.data.pocketLab} />

      <!-- our members -->
      <!-- Sección de miembros -->
  <section class="relative py-16">
    <div class="container">
      <OurMembers members={members} />
    </div>
  </section>
</Base>
