---
import Shape from "@components/Shape.astro";
import CounterComponent from "@components/about/CounterComponent.astro";
import Gallery from "@components/about/Gallery.astro";
import OurMembers from "@components/about/OurMembers.astro";
import Works from "@components/about/Works.astro";
import Base from "@layouts/Base.astro";
import PageHero from "@layouts/components/PageHero.astro";
import BackgroundImage from "@layouts/components/BackgroundImage.astro";
import { getEntryBySlug } from "astro:content";
import { getEntry } from "astro:content";
import CultureStorySection from "@components/about/CultureStorySection.astro";
import AboutUsSection from "@components/about/AboutUsSection.astro";
import VisionMissionSection from "@components/about/VisionMissionSection.astro";
import DemocratizingScience from "@components/about/DemocratizingScience.astro";
import LabImpactSection from "@components/about/LabImpactSection.astro";
import PocketLabSection from "@components/about/PocketLabSection.astro";


const { currentLocale } = Astro
const fallbackLocale = 'es';
let about = await getEntry("about", currentLocale);
if (!about) {
  about = await getEntry("about", fallbackLocale);
}

// console.log('about')
// console.log(about)

const { counter, gallery, features, members } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};

export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }]
}

const heroBackground = "/images/shared/backgrounds/home-background.jpg";
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <PageHero page_data={page_data}>
    <BackgroundImage slot="background" src={heroBackground} />
  </PageHero>
  {/*
    <CounterComponent counter={counter} />
  */}
  <!-- benifit -->
  {/*
    <!-- gellary -->

    <!-- our works -->
    <Works features={features} />
  */}

  <Gallery gallery={gallery} />

  <AboutUsSection section={about.data.whoWeAre} />
  <VisionMissionSection
    vision={about.data.vision}
    mission={about.data.mission}
  />
  <CultureStorySection section={about.data.culture} />
  <DemocratizingScience section={about.data.openFrontiers} />
  <LabImpactSection section={about.data.labImpact} />
  <PocketLabSection section={about.data.pocketLab} />

  <!-- our members -->
  <!-- Sección de miembros -->
  <section data-animate="fade-up" class="relative py-0">
    <div class="container">
      <OurMembers members={members} />
    </div>
  </section>
</Base>
