---
import Base from "@layouts/Base.astro";
import Banner from "@layouts/components/Banner.astro";
import KeyFeatures from "@layouts/components/KeyFeatures.astro";
import Testimonial from "@layouts/components/Testimonial.astro";
import Service from "@layouts/components/Service.astro";
import Cta from "@layouts/partials/Cta.astro";
import { getEntryBySlug } from "astro:content";
import BlogThemesHome from "@components/blog/BlogThemesHome.astro"
import { getEntry } from "astro:content";
import BackgroundVideo from "@components/BackgroundVideo.astro";
import GaleriaPaqari from "@components/Galeria_Paqari.astro";
import VideoSpotlight from "@layouts/components/VideoSpotlight.astro";
import HomeProducts from "@layouts/components/HomeProducts.astro";
import productsES from "@data/es/products.json";
import productsEN from "@data/en/products.json";


const { currentLocale } = Astro
const fallbackLocale = 'es';
let homepage = await getEntry("homepage", currentLocale);
if (!homepage) {
  homepage = await getEntry("homepage", fallbackLocale);
}

const home = homepage.data;
const page_data = {
  ...home,
  content: home.body,
};

//console.log(homepage)
const { banner, key_features, service, testimonial, galery, video_section, call_to_action, products_section } = homepage.data;
const productsData = currentLocale === "en" ? productsEN : productsES;

export async function getStaticPaths() {
  return [{ params: { lang: 'es' } }, { params: { lang: 'en' } }]
}
const video_path = "/images/shared/backgrounds/background-video.mp4"
---
<Base>
  {/*
  <div class="-z-50 absolute w-full h-screen bg-no-repeat bg-center lg:bg-cover bg-[url('/images/shared/backgrounds/home-background.jpg')] top-0 opacity-50 ">
  </div>
  */}
  <!-- banner -->
  <Banner banner={banner}>
    <BackgroundVideo src={video_path}/>
  </Banner>

  <HomeProducts section={products_section} products={productsData} />

  <VideoSpotlight videoSection={video_section} />

  <!-- Blog Themes -->
  <BlogThemesHome/>
  {/* 
  <!-- key features -->
  <KeyFeatures key_features={key_features} />
   
  <!-- service -->
  <Service service={service} />
  */} 

  <GaleriaPaqari galery={galery} />  

  <!-- testimonial -->
  <Testimonial testimonial={testimonial} />

  <!-- call to action -->
  <Cta call_to_action={call_to_action} />
</Base>
